@use '../variables' as v;


app-cesta, app-menu-movil {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}


.header-container {
    background-color: white;
    border-bottom: 1px solid v.$color-lineas;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99998;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


.logo {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    .menu {
        display: none;
        visibility: hidden;
        margin-right: 20px;

        .material-symbols-outlined {
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }
    }

    .img-logo {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        img {
            width: 100%;
        }
    }

    
}


.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    .categorias {
        margin-right: 30px;
    }
    .cesta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .icono-cesta {
            position: relative;

            .unidades-carrito {
                width: 20px;
                height: 20px;
                background-color: v.$color-rojo;
                position: absolute;
                top: -10px;
                right: -10px;
                font-size: smaller;
                font-weight: 600;
                color: white;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .texto {
            padding-left: 5px;
        }
    }
}

.categorias, .cesta, .menu {
    padding: 8px;
    border-radius: v.$border-radius;
    cursor: pointer;
    
    &:hover {
        background-color: v.$color-hover;
    }
}



@media only screen and (max-width: 900px) {
    .categorias {
        margin-right: 20px !important;
    }
}


@media only screen and (max-width: 800px) {
    .categorias {
        display: none;
        visibility: hidden;
    }
    .menu {
        visibility: visible !important;
        display: block !important;
    }
}


@media only screen and (max-width: 600px) {
    .categorias {
        margin-right: 10px !important;
    }
    .cesta .texto {
        display: none;
        visibility: hidden;
    }
}
