@use '../variables' as v;


app-cesta {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}


.header-container {
    background-color: white;
    border-bottom: 1px solid v.$color-lineas;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99998;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


.logo {
    position: sticky;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    img {
        width: 100%;
    }
}


.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    .categorias {
        margin-right: 30px;
    }
    .cesta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .icono-cesta {
            position: relative;

            .unidades-carrito {
                width: 20px;
                height: 20px;
                background-color: v.$color-rojo;
                position: absolute;
                top: -10px;
                right: -10px;
                font-size: smaller;
                font-weight: 600;
                color: white;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .texto {
            padding-left: 5px;
        }
    }

    .categorias, .cesta {
        padding: 8px;
        border-radius: v.$border-radius;
        
        &:hover {
            cursor: pointer;
            background-color: v.$color-hover;
        }
    }
}



@media only screen and (max-width: 900px) {
    .categorias {
        margin-right: 20px !important;
    }
}

@media only screen and (max-width: 600px) {
    .categorias {
        margin-right: 10px !important;
    }
}
