
<div class="header-container">
  <div class="header container">

    <div class="logo" routerLink="">
      <img src="../../assets/img/logo.png" alt="">
    </div>

    <div class="botones">
      <div class="categorias" [routerLink]="['/categorias']">CATEGORÍAS</div>

      <div class="cesta" (click)="this.serviceCesta.toggleAbrirCesta()">
        <div class="icono-cesta">
          <span class="material-symbols-outlined">shopping_cart</span>
          <div class="unidades-carrito" *ngIf="this.serviceCesta.getTotalUnidades() > 0">
            {{ this.serviceCesta.getTotalUnidades() }}
          </div>
        </div>
        <div class="texto">CESTA</div>
      </div>      
    </div>

  </div>
</div>

<app-cesta *ngIf="this.serviceCesta.getCestaAbierta()"></app-cesta>