@use '../variables' as v;


.header-container {
    border-bottom: 1px solid v.$color-lineas;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


.logo {
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        width: 100%;
    }
}


.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;

    .categorias {
        margin-right: 30px;
    }
    .cesta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }

        .texto {
            padding-left: 5px;
        }
    }

    .categorias, .cesta {
        padding: 8px;
        border-radius: v.$border-radius-hover;
        
        &:hover {
            cursor: pointer;
            background-color: v.$color-hover;
        }
    }
}