
<div class="footer-container">
    <div class="footer container">

        <div class="seccion">
            <span>Por qué comprar</span>
            <ul>
                <li>Cómo comprar</li>
                <li>Formas de pago</li>
                <li>Gastos de envío</li>
                <li>Cupones descuento</li>
                <li>Preguntas frequentes</li>
                <li>Opiniones de clientes</li>
            </ul>
        </div>

        <div class="seccion">
            <span>Quiénes somos</span>
            <ul>
                <li>Quiénes somos</li>
                <li>Compromisos</li>
                <li>Nuestras tiendas</li>
                <li>Condiciones de compra</li>
                <li>Afiliados</li>
                <li>Aviso legal</li>
                <li>Privacidad</li>
            </ul>
        </div>

        <div class="seccion">
            <span>Contactar</span>
            <ul>
                <li>Centro de soporte</li>
                <li>Contacto</li>
                <li>Devoluciones</li>
                <li>Garantías</li>
                <li>Publicidad</li>
                <li>Trabaja con nosotros</li>
                <li>Política de cookies</li>
            </ul>
        </div>

        <div class="seccion">
            <span>Comunidad</span>
            <ul>
                <li>
                    <div class="redsocial">
                        <div class="icono">
                            <img src="../../assets/img/icons/instagram_icon.svg" alt="">
                        </div>
                        <div class="texto">Instagram</div>
                    </div>
                </li>
                <li>
                    <div class="redsocial">
                        <div class="icono">
                            <img src="../../assets/img/icons/twitter_icon.svg" alt="">
                        </div>
                        <div class="texto">Twitter</div>
                    </div>
                </li>
                <li>
                    <div class="redsocial">
                        <div class="icono">
                            <img src="../../assets/img/icons/facebook_icon.svg" alt="">
                        </div>
                        <div class="texto">Facebook</div>
                    </div>
                </li>
                <li>
                    <div class="redsocial">
                        <div class="icono">
                            <img src="../../assets/img/icons/telegram_icon.svg" alt="">
                        </div>
                        <div class="texto">Telegram</div>
                    </div>
                </li>
                <li>
                    <div class="redsocial">
                        <div class="icono">
                            <img src="../../assets/img/icons/youtube_icon.svg" alt="">
                        </div>
                        <div class="texto">Youtube</div>
                    </div>
                </li>
                <li>
                    <div class="redsocial">
                        <div class="icono">
                            <img src="../../assets/img/icons/tiktok_icon.svg" alt="">
                        </div>
                        <div class="texto">TikTok</div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="seccion">
            <span>Descarga nuestra App</span>
            <ul>
                <li>
                    <div class="redsocial">
                        <div class="icono">
                            <img src="../../assets/img/icons/android_icon.svg" alt="">
                        </div>
                        <div class="texto">Descarga app Google Play</div>
                    </div>
                </li>
                <li>
                    <div class="redsocial">
                        <div class="icono">
                            <img src="../../assets/img/icons/apple_icon.svg" alt="">
                        </div>
                        <div class="texto">Descarga app en App Store</div>
                    </div>
                </li>
            </ul>
            <div class="qr">
                <img src="../../assets/img/qr.svg" alt="">
            </div>
        </div>

    </div>
</div>