<div class="intro-container">
    <div class="intro container">

        <div class="publi" [routerLink]="['/categorias', 'todo']">
            <img class="grande" src="../../../assets/img/publi-grande.webp" alt="">
            <img class="pequena" src="../../../assets/img/publi-pequena.webp" alt="">
        </div>

        <div class="categorias">
            <div class="carta" *ngFor="let categoria of categorias" [routerLink]="['/categorias', categoria.toLowerCase()]">
                <div class="content-carta">
                    <div class="imagen-carta">
                        <img *ngIf="loading" src="../../../assets/img/loading-naranja-oscuro.gif" alt="cargando" />
                        <img [hidden]="loading" (load)="this.loading = false;" src="../../../assets/img/categorias/{{ categoria }}/portada.png" alt="">
                    </div>
                    <div class="nombre-carta">{{ categoria }}</div>
                </div>
            </div>
        </div>

    </div>
</div>