
<div class="blog-container">
    <div class="blog container">

        <div class="h1">En nuestro blog</div>

        <div class="noticias">

            <carousel 
            [height]="350"
            [cellWidth]="500"
            [arrowsTheme]="'dark'">

                <div class="noticia carousel-cell">
                    <div class="imagen">
                        <img src="../../../assets/img/blog/blog-moviles.jpg" alt="">
                    </div>
                    <div class="contenido-container">
                        <div class="contenido">
                            <div class="titulo">
                                Los mejores móviles baratos y buenos de este 2023
                            </div>
                            <div class="texto texto-noticia">
                                Si necesitas renovar tu viejo smartphone pero tu 
                                presupuesto es limitado, no te pierdas esta selección 
                                de los mejores móviles baratos de este 2023. Te contamos 
                                qué características y precios tienen, para que puedas 
                                encontrar alguno que cumpla con tus necesidades.
                            </div>
                            <div class="boton">
                                <span>Seguir leyendo</span>
                                <span class="material-symbols-outlined">trending_flat</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="noticia carousel-cell">
                    <div class="imagen">
                        <img src="../../../assets/img/blog/blog-auriculares.jpg" alt="">
                    </div>
                    <div class="contenido-container">
                        <div class="contenido">
                            <div class="titulo">
                                Mejores auriculares Bluetooth para usar con el móvil
                            </div>
                            <div class="texto texto-noticia">
                                En este post veremos cuáles son los mejores auriculares 
                                Bluetooth del mercado y que más aconsejamos para móvil. 
                                Así nos encontraremos con opciones muy interesantes de 
                                diferentes marcas y, sobre todo, con diferentes precios.
                            </div>
                            <div class="boton">
                                <span>Seguir leyendo</span>
                                <span class="material-symbols-outlined">trending_flat</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="noticia carousel-cell">
                    <div class="imagen">
                        <img src="../../../assets/img/blog/blog-portatil.jpg" alt="">
                    </div>
                    <div class="contenido-container">
                        <div class="contenido">
                            <div class="titulo">
                                ¿Cuáles son los beneficios del teletrabajo?
                            </div>
                            <div class="texto texto-noticia">
                                Entre los cambios que ha traído la pandemia está 
                                la nueva forma de trabajar. El teletrabajo ha llegado 
                                para quedarse en muchas empresas, por eso nos 
                                gustaría repasar cuáles son las ventajas de trabajar 
                                desde casa para la empresa y para el trabajador.
                            </div>
                            <div class="boton">
                                <span>Seguir leyendo</span>
                                <span class="material-symbols-outlined">trending_flat</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="noticia carousel-cell">
                    <div class="imagen">
                        <img src="../../../assets/img/blog/blog-robot.jpg" alt="">
                    </div>
                    <div class="contenido-container">
                        <div class="contenido">
                            <div class="titulo">
                                Los robots. ¿Formarán parte de nuestra vida cotidiana?
                            </div>
                            <div class="texto texto-noticia">
                                La robótica es una de las claras tendencias de futuro. 
                                La posibilidad de que una máquina adopte aspecto casi 
                                humano y sea capaz de operar, casi en su totalidad, 
                                como una persona normal es un concepto que intriga, 
                                interesa y, al mismo tiempo, intimida.
                            </div>
                            <div class="boton">
                                <span>Seguir leyendo</span>
                                <span class="material-symbols-outlined">trending_flat</span>
                            </div>
                        </div>
                    </div>
                </div>

            </carousel>

        </div>


        <div class="noticias-small">

            <carousel 
            [height]="350"
            [cellWidth]="250"
            [arrowsTheme]="'dark'">

                <div class="noticia carousel-cell">
                    <div class="imagen">
                        <img *ngIf="loading" src="../../../assets/img/loading-blanco.gif" alt="cargando" />
                        <img [hidden]="loading" (load)="this.loading = false;" src="../../../assets/img/blog/blog-moviles.jpg" alt="">
                    </div>
                    <div class="contenido-container">
                        <div class="contenido">
                            <div class="titulo">
                                Los mejores móviles baratos y buenos de este 2023
                            </div>
                            <div class="boton">
                                <span>Seguir leyendo</span>
                                <span class="material-symbols-outlined">trending_flat</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="noticia carousel-cell">
                    <div class="imagen">
                        <img src="../../../assets/img/blog/blog-auriculares.jpg" alt="">
                    </div>
                    <div class="contenido-container">
                        <div class="contenido">
                            <div class="titulo">
                                Mejores auriculares Bluetooth para usar con el móvil
                            </div>
                            <div class="boton">
                                <span>Seguir leyendo</span>
                                <span class="material-symbols-outlined">trending_flat</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="noticia carousel-cell">
                    <div class="imagen">
                        <img src="../../../assets/img/blog/blog-portatil.jpg" alt="">
                    </div>
                    <div class="contenido-container">
                        <div class="contenido">
                            <div class="titulo">
                                ¿Cuáles son los beneficios del teletrabajo?
                            </div>
                            <div class="boton">
                                <span>Seguir leyendo</span>
                                <span class="material-symbols-outlined">trending_flat</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="noticia carousel-cell">
                    <div class="imagen">
                        <img src="../../../assets/img/blog/blog-robot.jpg" alt="">
                    </div>
                    <div class="contenido-container">
                        <div class="contenido">
                            <div class="titulo">
                                Los robots. ¿Formarán parte de nuestra vida cotidiana?
                            </div>
                            <div class="boton">
                                <span>Seguir leyendo</span>
                                <span class="material-symbols-outlined">trending_flat</span>
                            </div>
                        </div>
                    </div>
                </div>

            </carousel>

        </div>

    </div>
</div>