<div class="fondo" (click)="animacionCerrarCesta()" [@cambioColor]="state">

</div>

<div class="cesta" [@leftToRight]="state" (@leftToRight.done)="onAnimationDone($event)">

    <div class="cesta-container">

        <div class="header">
            <div class="titulo">Mi cesta</div>
            <div class="cerrar" (click)="animacionCerrarCesta()">
                <span class="material-symbols-outlined">close</span>
            </div>
        </div>

        <div class="contenido" *ngIf="this.articulosCesta.length">
            <div class="productos-container">
                <div class="carta-producto" *ngFor="let item of articulosCesta">
                    <div class="producto">
                        <div class="imagen">
                            <img src="../../assets/img/categorias/{{item.producto.categoria}}/{{item.producto.nombreImagen}}.jpg" alt="">
                        </div>
                        <div class="descripcion">
                            <div class="nombre item-descripcion">{{ item.producto.nombre }}</div>
                            <div class="unidades item-descripcion">Unidades {{ item.cantidad }}</div>
                            <div class="precio item-descripcion">{{ this.serviceFunciones.formatearNumero(item.producto.precioFinal) }}€</div>
                        </div>
                        <div class="eliminar">
                            <span class="material-symbols-outlined" (click)="this.serviceCesta.deleteProducto(item.producto)">close</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="linea"></div>
            <div class="total-unidades">
                <div>Unidades</div><div>{{ this.serviceCesta.getTotalUnidades() }}</div>
            </div>
            <div class="total-precio">
                <div>Total <span>(IVA incluido)</span></div><div>{{ this.serviceCesta.getPrecioTotal() }}€</div>
            </div>
            <div class="boton boton-cesta">Comprar</div>
        </div>

        <div class="cesta-vacia" *ngIf="!this.articulosCesta.length">
            <div class="cesta-vacia-img">
                <img src="../../assets/img/empty-cart.png" alt="">
            </div>
            <div class="texto">
                <span>Tu carrito está vacío</span>
            </div>
            <div class="boton" (click)="animacionCerrarCesta()">
                <span>Seguir explorando</span>
            </div>
        </div>

    </div>

</div>