
$font: 'Open Sans', sans-serif;
$max-width: 1200px;
$min-width: 300px;

$color-lineas: #bbbbbb;

$color-hover: #f0f0f0;
$border-radius: 4px;

$color-naranja: #ff6000;
$color-naranja-hover: #cd4d00;
$color-rojo: #BF0019;
$color-azul-oscuro: #170453;
$color-estrellitas: #FFA90D;
$color-precio-gris-clarito: #737373;