
<div class="sorteo-container">
    <div class="sorteo container">
        <div class="contenedor">

            <div class="seccion intro">
                <div class="sorteazo">
                    <div class="no-filled">SORTEAZO</div>
                    <div class="filled">SORTEAZO</div>
                    <div class="no-filled">SORTEAZO</div>
                </div>
                <div class="titulo">
                    <div class="exclam">¡Gana esta TV de 77" OLED UltraHD 4K!</div>
                    <div class="texto">
                        Participa ahora y llévate esta mega TV LG 
                        valorada en <span>2.729€</span>.
                    </div>
                </div>
            </div>

            <div class="seccion imagen">
                <img src="../../assets/img/categorias/Televisores/LG OLED77C17LB.png" alt="LG OLED77C17LB">
            </div>

            <div class="seccion carta-correo">
                <div class="carta-container">
                    <div class="item h1">¡Apúntate y participa!</div>
                    <div class="item correo">
                        <input type="text" placeholder="Introduce to email">
                    </div>
                    <label class="item condiciones">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <span class="texto-condiciones">
                            He leído y acepto las <span class="link">bases del 
                            sorteo</span>, <span class="link">condiciones 
                            generales</span> y la <span class="link">política 
                            de privacidad</span> de PC Ecommerce.
                        </span>
                    </label>
                    <div class="item boton">
                        <span>Participar</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>