
<div class="ofertas-container">
    <div class="ofertas container">

        <div class="presentacion">
            <div class="texto">
                Las mejores ofertas de nuestros #DíasNaranjas. 
                Date prisa, ¡que luego son todo precipitaciones!
            </div>
            <div class="boton">
                <span>Ver más</span>
            </div>
        </div>
        <div class="productos">

            <div class="carta">
                <div class="producto-container">

                    <div class="seccion-1">
                        <div class="descuento">
                            <span>-35%</span>
                        </div>
                        <div class="imagen">
                            <img src="../../../assets/img/categorias/smartphone.png" alt="">
                        </div>
                        <div class="nombre">
                            <span>Kioxia EXCERIA 1TB SSD NVMe M.2 2280</span>
                        </div>
                    </div>

                    <div class="seccion-2">
                        <div class="precio">
                            <div class="precio-nuevo">50,99€</div>
                            <div class="precio-viejo">PVP <span>78,99€</span></div>
                        </div>
                        <div class="valoracion">
                            <div class="estrellas">
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star_half</span>
                            </div>
                            <div class="valoraciones">(530)</div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="carta">
                <div class="producto-container">

                    <div class="seccion-1">
                        <div class="descuento">
                            <span>-29%</span>
                        </div>
                        <div class="imagen">
                            <img src="../../../assets/img/categorias/smartphone.png" alt="">
                        </div>
                        <div class="nombre">
                            <span>MSI Katana 15 B12VFK-095XES Intel Core i7-12650H/16GB/512GB SSD/RTX 4060/15.6"</span>
                        </div>
                    </div>

                    <div class="seccion-2">
                        <div class="precio">
                            <div class="precio-nuevo">1.099€</div>
                            <div class="precio-viejo">PVP <span>1.549€</span></div>
                        </div>
                        <div class="valoracion">
                            <div class="estrellas">
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                                <span class="material-symbols-outlined">star</span>
                            </div>
                            <div class="valoraciones">(16)</div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>
</div>