
<div class="ofertas-container">
    <div class="ofertas container">

        <div class="presentacion">
            <div class="texto">
                Las mejores ofertas de nuestros #DíasNaranjas. 
                Date prisa, ¡que luego son todo precipitaciones!
            </div>
            <div class="boton">
                <span>Ver más</span>
            </div>
        </div>

        <div class="productos">
            <carousel 
            [height]="310"
            [cellWidth]="240"
            [arrowsTheme]="'dark'">
                <div class="carta carousel-cell" *ngFor="let i of categorias">
                    <div class="producto-container">
    
                        <div class="seccion-1">
                            <div class="descuento">
                                <span>-35%</span>
                            </div>
                            <div class="imagen">
                                <img src="../../../assets/img/categorias/smartphone.png" alt="">
                            </div>
                            <div class="nombre">
                                <span>Kioxia EXCERIA 1TB SSD NVMe M.2 2280</span>
                            </div>
                        </div>
    
                        <div class="seccion-2">
                            <div class="precio">
                                <div class="precio-nuevo">50,99€</div>
                                <div class="precio-viejo">PVP <span>78,99€</span></div>
                            </div>
                            <div class="valoracion">
                                <div class="estrellas">
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star</span>
                                    <span class="material-symbols-outlined">star_half</span>
                                </div>
                                <div class="valoraciones">(530)</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </carousel>
        </div>

    </div>
</div>