/* You can add global styles to this file, and also import other style files */
@use './app/variables' as v;

* {
    font-family: v.$font;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

.container {    
    max-width: v.$max-width;
    //min-width: v.$min-width;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.h1 {
    font-size: x-large;
    font-weight: bold;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}